{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'site_static/style.css' %}">
  <title>Restaurant</title>
</head>
<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero"><h1><span>Restaurant</span></h1></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#menu" data-after="Service">Menu</a></li>
            <li><a href="#reservation" data-after="Projects">Reservation</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Welcome, <span></span></h1>
        <h1>to the <span></span></h1>
        <h1>Restaurant <span></span></h1>
        <a href="#menu" type="button" class="cta">Menu</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->


  {% block body %}

  {% endblock body %}


  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand"><h1>Restaurant</h1></div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png"/></a>
        </div>
      </div>
      <p>Copyright ©2021 Arfan Template. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="{% static 'site_static/js/app.js' %}"></script>
</body>
</html>
